@use "./breakpoints" as *;

.container {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 17px);
  padding: 0 8.4rem;
  @include display(tab) {
    padding: 2.4rem;
  }
}
